
.careerbannerBox {
    width: 100%;
    height: 700px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	&:before { content:""; width: 100%; height:100%; background:rgba(0,0,0,0.4); position: absolute; left: 0px; top: 0px; }
	.banner_text {position: absolute;  left: 0px;  bottom: 50px;  width: 100%;  color: #fff; 	
	h2, h1 {font-family: gobold_bolditalic;   font-size: 45px;  font-weight: 700;  display: inline-block;   text-transform: uppercase; }
	p{font-size: 16px; margin:20px 0px;  max-width: 50%;  line-height: 29px;}
	.banner_applybtn {background: #fff; padding: 16px 50px;  border-radius: 50px;  font-size: 16px;  font-weight: 600; display: inline-block; }
	}
}

/**/
.opportunitiesBox { padding:70px 0px; width: 100%;  position: relative; z-index: 1;
	.contentBlock { padding-right: 30px; }
	img { width: 100%; border-radius: 20px;}
	.subTitle {font-size: 16px; color: #727171;  font-weight: 600; }
	h2 { font-weight: 600; color: #FFFFFF;  line-height: 54px;  padding: 11px 0;  font-size: 45px; }
	p {font-size: 16px;  line-height: 29px; margin:20px 0px; color: #fff; }
	.job_opporunitiesBtn { margin-top:15px;  margin-bottom: 20px;
		background: transparent linear-gradient(89deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box; color:#fff; padding: 16px 50px;  border-radius: 50px;  font-size: 16px;  font-weight: 600; display: inline-block; }
}

/**/

.accordianMenuBox {background:#161617; width: 100%; padding:70px 0px; color:#fff;
	.block { max-width: 96%; margin: 0px auto; }
	.accordion-item { background: transparent; border:none; color:#fff; }
	.accordion-button {font-size: 2rem;  padding: 8px 0; border:none; background: transparent;  color: #fff; 
	&:after { content: "\f282"; font-family: bootstrap-icons !important; color:#fff; background:none; }
	&:focus { outline:none!important; border:none!important; box-shadow:none; }
	}
	.accordion-body { padding: 10px 0; margin-bottom:20px; }
	.accordion-header { padding:10px 0px; border-top: 1px solid #6d6b6b; 
		&.norder { border:none; }
		}
	p { margin: 0px; font-size: 17px;  line-height: 37px;  font-weight: 300;  }
	.accordion-button:not(.collapsed) { box-shadow:none; }
 }
 
 
 .jobApplyBox {width: 100%; padding:70px 0px; color:#fff;  background: transparent linear-gradient(90deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
 .job_applybtn { background:#fff;	 padding: 16px 50px;  border-radius: 50px;  font-size: 16px;  font-weight: 600; display: inline-block; }
	ul { list-style:none; 	padding: 0px;
		li { display:flex; align-items: center;   justify-content: space-between;  padding: 20px;   border-radius: 10px; 
			&:hover { background:#fff; color:#333; 
				.job_applybtn {color:#fff; background:transparent linear-gradient(89deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;}
			}
			p { margin: 0px; }
		}
	}
	
 }


 /**/
 .careerbannerBox.shadow:before {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: "";
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  }
  .careerbannerBox.shadow:after {
	width: 100%;
	height: 85px;
	position: absolute;
	left: 0px;
	top: 0px;
	content: "";
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .bg-career {
	position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	&:before{background: rgba(0, 0, 0, 0.5); content: '';
		position: absolute; left: 0px; top:0px; width: 100%; height: 100%; }
}

