.text-orange {color: #FF5300;}
#leftCntr .overviewBox p {text-align:justify;  font-weight: normal; line-height: 24px;}
#leftCntr .overviewBox p a {color: #FF5300;}
#leftCntr .overviewBox p a.gray12, #leftCntr .overviewBox p.gray12 a {font-size: 12px; color: #6d6d6d; }
#leftCntr .overviewBox p a.gray12:hover, #leftCntr .overviewBox p.gray12 a:hover {color:#FF5300; }

#rightCntr .call_block .call_action3 {   border: 1px solid #F15747;    margin-top: 20px;    border-radius: 10px;   text-align: center;    font-size: 20px;
    color: #FFFFFF; text-decoration: none;   font-weight: 500;   padding: 12px 40px;   display: block;background: transparent linear-gradient(89deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
}
		
.blockBox {  background: #fbfbfb;  border: 0px;  border-radius: 0px;  padding: 0px 0px; margin-bottom: 30px;  overflow: hidden;}

.blockBox h1 {font-size: 45px; font-weight: 800;}
.blockBox h1 span {color: #FF5300;}
.blockBox h2 {font-size: 25px; font-weight: 700; margin-bottom: 10px;}
.blockBox h2 span {font-size: 40px; font-weight: 700; color: #FF5300;}
.blockBox h3 {font-size: 20px; font-weight: 600; margin-bottom: 20px; color: #FF5300;}

.blogbigImage {width: 100%; height: auto; border-radius: 10px; margin-bottom: 20px;}

.mobleft {    font-size: 24px;    line-height: 33px;}
.resultsBox {border:1px solid #FF5300}
	





.tag-cloud {margin:0px 0px; padding: 0px; text-align: left;}		
.tag-cloud ul {margin:0px 0px; padding: 0px 0px; }
.tag-cloud ul li { display: inline-block; color: white; padding: 10px 15px; border-radius: 25px; background: transparent linear-gradient(89deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box; line-height: normal; font-size: 13px; margin: 5px 0px; }



.resultsBox .left figure {height:auto;}
/*.resultsBox .left .detail .daynight {  position: absolute;}*/
.social_icon a {margin:0px 10px;}

#leftCntr .overviewBox ul.blogListstyle { list-style:none; padding:0px 0px 0px 0px;}
#leftCntr .overviewBox ul.blogListstyle li { margin: 0; padding-left: 22px; font-weight: normal; line-height: 35px; background: url(../../images/icon/bullet.svg) left 12px no-repeat;}
		
#leftCntr .overviewBox ul.blogListstyle2 { padding:0px 0px 0px 0px;}
#leftCntr .overviewBox ul.blogListstyle2 li { margin: 0; padding-left: 0px; font-weight: normal; line-height: 30px; background: none;}

#leftCntr .overviewBox ul.blogListstyle3 { list-style:none; padding:0px 0px 0px 0px;}
#leftCntr .overviewBox ul.blogListstyle3 li { margin: 0; padding-left: 22px; font-weight: normal; line-height: 35px; background: url(../../images/icon/bullet-r.png) left 12px no-repeat;}
		
.overviewBox { padding-top: 44px; }
.big_image {width: 100%; height: auto; border-radius: 10px;}
.big_image_mobile { display:none; }
		
.resultsBox .left figure img {margin: 15px 0px 15px 15px;}


#leftCntr .overviewBox ul.displayno li {background: none; line-height: inherit; margin: 0px; padding: 0px;}

#leftCntr .overviewBox ol {padding-left: 1.3rem;}
#leftCntr .overviewBox ol li {padding-bottom:12px;}
		
@media (max-width: 767px) {
.resultsBox .left figure img {position: inherit;left:inherit;top: inherit;transform: none; margin: 0px;}
.resultsBox .left figure { padding: 10px 10px 0 10px; display: inherit; }
.resultsBox .left .detail {  }
.resultsBox .left .detail h2 {width:100%; font-size: 16px;}
.resultsBox .left .detail .daynight {position: initial;}
.resultsBox .left .detail .displayno {  display: none;}
.resultsBox .right .mobleft {font-size: 18px;}

	.social_icon a {margin:0px 0px;}

.blockBox h2 {  font-size: 20px;}	
.blockBox h2 span {font-size: 30px;}
.blockBox h1 { font-size: 24px; }
.overviewBox { padding: 0px; }
.whiteMenu, .big_image { display:none; }
.big_image_mobile {    margin: 0 -15px; display:block; position: relative; padding-bottom: 20px; }
.big_image_mobile:before { content:""; width:100%; height:50%; position:absolute; left: 0px; top: 0px;
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 2%,rgba(0,0,0,0) 100%); }
.big_image_mobile .social_icon { display:flex; position: absolute; right: 20px; top: 20px; }
.big_image_mobile .social_icon img { width: 25px;}
.big_image_mobile .social_icon a { margin: 0 5px; }
.big_image_mobile .back_button { align-items: center; position: absolute; left: 20px; bottom: 20px; display:flex; font-size:12px; color:#fff; }
.big_image_mobile .back_button i {float: left;  font-size: 27px;  line-height: 27px;  position: relative;  margin: -5px 10px 0 0;}
.big_image_mobile img{ width: 100%; }
.big_image_mobile .logo { position: absolute;  top: 20px;  left: 20px;  width: 89px;}

.back_button2 {margin: 9px 0; align-items: center; display:flex; font-size:12px; color:#333; }
.back_button2 i {float: left; color:#F15747 ;  font-size: 27px;  line-height: 27px;  position: relative;  margin: -5px 10px 0 0;}