.searchBox { padding-top:145px; max-width: 924px;   margin: 0px auto; 
@include breakpoint(lg) { padding-top:100px; }
	h2 { font-size:80px; color:#fff; font-weight: 700; text-shadow: 0 0 6px #0000001A; text-align:center; line-height:90px; padding-bottom:20px; 
	@include breakpoint(xl){ font-size: 60px; line-height: 70px; padding-bottom:10px; }
	@include breakpoint(md){ font-size: 50px; line-height: 60px; }
	@include breakpoint(sm){ font-size:36px; line-height: 45px; }
	@include breakpoint(xs){ font-size:30px; line-height: 40px; }
	}
	p { font-size: 34px;  text-align:center; padding-bottom:80px; line-height:51px; color:#fff; 
		@include breakpoint(xl){ font-size: 26px; line-height: 40px;padding-bottom:50px; }
		@include breakpoint(md){ font-size: 20px; line-height: 30px;padding-bottom:30px; }
		@include breakpoint(sm){ font-size: 16px; line-height: 22px; }
		@include breakpoint(xs){ font-size: 14px; line-height: 21px; }
	}
	
	.searchBlock {
		.tabs { 
		ul{list-style:none; background:#fff;  border-radius:27px 27px 0 0; display:flex; padding: 0px; width:280px; margin: 0px;
			@include breakpoint(sm){ margin: 0px auto; width:200px; border-radius:15px 15px 0 0;}
		}
			li { width: 50%;
				a{ font-size: 16px; font-weight:500; color:#000000; text-decoration: none;  padding: 15px 10px; text-align:center;   display: block; 
				@include breakpoint(lg) { font-size: 15px;}
				@include breakpoint(sm) { font-size: 13px; padding:10px; }
				@include breakpoint(xs) { font-size: 12px; padding:10px; }
				&.active {background: transparent linear-gradient(180deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
border-radius: 27px 0px 0px 0px; color:#fff; 
	@include breakpoint(sm){border-radius: 15px 0px 0px 0px;}
}
				}
			}
		}
		.innerBlock { position:relative; background:#fff; border-radius: 0 27px 27px 27px; padding:7px; display:flex; width:100%;
			@include breakpoint(lg) { border-radius: 0 15px 15px 15px;}
			@include breakpoint(sm) { border-radius: 15px;}
			.inputTxt { border: none; padding: 20px;   font-size: 20px;   background: none; width:calc(100% - 72px); 
				@include breakpoint(lg) { font-size: 18px; padding: 10px; width: calc(100% - 50px); }
				@include breakpoint(sm) { font-size: 16px; width: calc(100% - 45px); }
				@include breakpoint(xs) { font-size: 14px; width: calc(100% - 45px); }
			}
			.searchButton { width:72px; height:72px; display:block; border:none; background: transparent linear-gradient(180deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
border-radius: 19px; font-size: 30px;   line-height: 30px;  color: #ffff; 
			@include breakpoint(lg) { width:50px; height:50px; border-radius:15px; }
			@include breakpoint(sm) { width:45px; height:45px; }
			img {@include breakpoint(sm){ width: 20px; }}
 }
		}
		
	}
 }
 
 
 
 /**/
 .bottom_strip { position: absolute; left: 0px; bottom: 15px; width:100%; color:$white;
 @include breakpoint(sm){  bottom:0px; }
 .holder {max-width: 1000px; margin: 0px auto;
	@include breakpoint(sm){ padding-left: 44px; }
 }
 .bannercol {width: 25%; float:left; 
	@include breakpoint(md){ width: 50%; margin-bottom: 15px; }
	@include breakpoint(sm){ height: 60px; margin-bottom:10px; }
 }
 .block { display:flex;  align-items: flex-start; justify-content: center; 
	@include breakpoint(sm){justify-content: start; }
	img { margin-right: 15px; margin-top:5px; }
	.icon{
		@include breakpoint(xs){ width: 20px; margin-right:8px; }
	}
	.count { display:block; margin-right: 15px; margin-top:5px; font-size: 18px; font-weight: 700; }
	i {color: #F9D800;}
	}
		p { font-size: 12px; font-family:$rubikfont; 
			strong { font-family:$rubikfont; display:block; font-size: 18px; font-weight: 500; 
				@include breakpoint(sm){ font-size: 14px; }
				@include breakpoint(xs){ font-size: 13px; }
			}
		}
		.goglerating {
			img { margin-top: -4px; }
		}
 }
 
 .rating { width:93px;  height:16px; display: inline-block; background:url(#{$imagePath}icon/google-star.svg) center top no-repeat;
	&.single { width: 18px; }
 }
 
 
 /**/

 
 .ui-input-text { width: 100%; }
 .listviewauto { display:none; width: 100%; border-radius: 10px;  position: absolute; left: 0px; top: 87px;padding:0px;
 @include breakpoint(sm){top: 60px; }
    list-style: none;  z-index: 1;  max-height: 200px;  overflow-y: auto;
	li {  display: block;  position: relative;   overflow: visible; background:#fff;     
		a { font-size:17px; color:#333; text-decoration: none;    padding: 10px 20px;   /* margin-bottom: -22px;*/ cursor:pointer; width: 100%;display:block;
		@include breakpoint(sm){ font-size: 15px; padding: 13px; }
			&:hover { background:transparent linear-gradient(180deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box; color:#fff; }
		}
	}
.ui-screen-hidden {  display: none!important;}

}

 .searchBox .searchBlock .innerBlock.autocomplete_open { /*border-radius:0 27px 27px 4px;*/
	 .listviewauto { display:block; }
 }