#footerCntr { background:#222222; padding:40px 0 60px 0;  color:#fff;
	a {font-size: 16px; color:#fff; text-decoration: none; font-weight:300; 
		@include breakpoint(sm){ font-size: 14px; }
	}
	h4{ font-size: 16px; font-weight: 600;  }
	ul { list-style: none; padding: 0px;
	@include breakpoint(sm){ padding-bottom:15px; }
		li { line-height: 30px;
			@include breakpoint(sm){ line-height:25px; }
		}
	}
	.social_icons { padding-top:10px; 
		img{ margin-right: 30px; }
	}
	
	.corporate_add { padding-top: 40px; 
		img { margin-top: 20px; }
	}
	.copyright { margin: 0px; padding-top: 40px; text-align:center; font-size:16px; 
		@include breakpoint(sm){ font-size: 14px; text-align:left; }
		
	}
 }
 
 
 #scrollBottomtop {
    width: 50px;
    height: 50px; z-index:999;
    background:transparent linear-gradient(180deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    bottom: 22px;
    font-size: 29px;
    color: #fff;
}