/*Home city airlines*/

@import url("bootstrap-icons.css");
a {
    cursor: pointer;
}
#headerCntr { position: absolute; left: 0px; top: 0px; width: 100%; z-index:4; padding: 15px 0; transition: all 0.5s; 
	.logo { float:left; }
	.right { float: right; margin-top: 10px; 
	@include breakpoint(md){ display:none; }
		.call { margin-left:20px; font-size: 16px; color:#000000; font-weight: 500; text-decoration: none; padding:10px 20px; background:#fff; border-radius:8px; }
	}
	.menuBox { float:left; 
	@include breakpoint(md){ display:none; }
		ul { list-style:none; display: flex; padding-top:14px;
			li { padding: 0 15px;
			@include breakpoint(lg){ padding: 0 12px; }
			
				a { font-size: 16px; color:#fff; text-decoration: none;  position: relative;
				@include breakpoint(lg){  font-size: 14px; }
				&:before { content: ""; transition: all 0.5s; width: 0;  position: absolute;  left: 50%;  bottom: -8px;   background:transparent linear-gradient(180deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;  height: 2px;
    transform: translateX(-50%); }
				&.active {font-weight: 600; 
					&:before { width: 100%; }
				}
				&:hover { 
					&:before { width: 100%; }
				}
				}
			}
		}
	}
	.logoblack { display:none; }
	.mobileMenu { display: none; float:right;	@include breakpoint(md){ display:block; } }
	.stickyimg { display:none; }
	
	&.fixed { background:#fff; position: fixed;  left: 0px;  top: 0px; z-index:5;   
		.logoblack { display:block; }
		.logotransparent { display:none; }
		.menuBox ul li a { color: #000000; 
			
		}
		.right .call { background:#000000; color:#fff; }
		.right img { border: 1px solid #000000; border-radius:100%; }
		.normalimg { display:none; }
		.stickyimg { display:block; }
	}
}

.mobileMenuBox { padding:20px 0 20px 20px; width: 270px; height:100vh; background:#fff; position: fixed; right: -200%; top: 0px; z-index:5; transition: all 0.5s;
			&.openMenu { right: 0px;   transition: all 0.5s; }
		.holder { height:100%; overflow-x:hidden; overflow-y:auto; padding-bottom:50px; }
	.call {
		a { font-size: 16px; color:#000000; font-weight: 600; text-decoration: none; 
			span{ font-size: 12px; color: #FF5300; display:block; font-weight:400; }
			img {float: left; margin-right: 10px; }
		}
	}
	
	ul { list-style: none;  padding: 50px 0px;
		li {padding: 12px 0; 
			a { font-size: 16px; color:#222222; text-decoration: none; }
			.bluebg { background:#007BF7; color:#fff; font-size: 12px; border-radius:2px; padding: 3px 5px; display: inline-block; }
			.yellowbg { background:#FFE200; font-size: 12px; border-radius:2px;  padding: 3px 5px; display: inline-block;}
		}
	}
	.social_icons { position: absolute; left:0px; bottom: 0px; width: 100%; background:#fff; padding:20px; 
		strong{ display:block; margin-bottom:15px; }
		a { margin-right:20px; }
	}
	.closemenu {}
}

.pageoverlay { display:none; width: 100%; height: 100%; z-index:2; background:rgba(0,0,0,0.5); position: fixed; left: 0px; top: 0px; }




