/*About section*/

.aboutBox {
    width: 100%;
    padding: 50px 0;
    @include breakpoint(md) {
        padding: 20px 0;
    }
    @include breakpoint(sm) {
        width: auto;
    }
    .content {
        padding: 0 30px;
        @include breakpoint(lg) {
            padding: 5px;
        }
    }
    p {
        font-size: 14px;
        line-height: 27px;
        @include breakpoint(md) {
            font-size: 15px;
        }
        @include breakpoint(sm) {
            font-size: 13px;
            line-height: 22px;
        }
    }
    .text {
        font-size: 16px;
        color: #202020;
    }
    .list {
        list-style: none;
        padding: 0px;
        li {
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;
            &:before {
                position: absolute;
                left: 0px;
                top: 2px;
                content: '\f26b';
                color: $primary;
                font-family: bootstrap-icons !important;
            }
        }
    }
    a.read_more {
        cursor: pointer;
        margin-top: 5px;
        padding: 10px 15px;
        display: inline-block;
        font-size: 16px;
        color: $secondary;
        border: 1px solid $secondary;
        border-radius: 5px;
        @include breakpoint(md) {
            margin-top: 10px;
        }
        .bi-arrow-right {
            float: right;
        }
        &:hover {
            text-decoration: none;
        }
    }
    img {
        @include breakpoint(sm) {
            border-radius: 5px;
        }
    }
    .page__title strong {
        @include breakpoint(sm) {
            display: inline-block;
        }
    }
}