@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
$imagePath: "../../images/";
$black: #000000;
$white: #fff;
$red: #f15a5f;
$primary :#FB3D4E;
$dark-gray :#5e5e5e;
$secondary: #2139AC;
$text-color: #303030;
$dark-blue: #0054a6;

/*0054a6*/

$button-bg: $primary;
$button-bg-hover: #f12739;
$text-color-dark: #202020;
$border-color-light: #ccc;
$highlight: #00C29B;
$green-text: #00ab53;

$rubikfont :'Rubik', sans-serif;
$goboldfont :'gobold_bolditalic';
$ranchofont:'Rancho', cursive;