.sortingBox { padding: 20px 0; overflow:hidden;
	h2{ font-size: 34px; margin-bottom:30px; 
		@include breakpoint(md){ font-size:26px;  margin-bottom:20px;}
	@include breakpoint(sm){ font-size:21px; }
	@include breakpoint(xs){ font-size:18px;  }
	}
	@include breakpoint(sm){padding:10px 0 5px 0; }
	ul{ list-style:none; padding: 0px; display: flex; overflow-x: auto;  overflow-y: hidden;
	@include breakpoint(sm){ margin-bottom: 0px; }
		li { padding: 0 10px 10px 0;
		@include breakpoint(sm){ float:left; white-space:nowrap; }
			a { padding:10px; display:block; width: 145px; border: 1px solid #EC602A; border-radius:10px; font-size: 16px; color:#000000; text-decoration:none; text-align:center; 
				&.active, &:hover { color:#fff; background: transparent linear-gradient(90deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box; }
				@include breakpoint(md){ font-size:14px; }
				@include breakpoint(sm){ width:auto; font-size:12px; padding:8px; }
			}
			&:first-child a{ width: 70px; }
			
		}
	}
}

/*Results box*/
.resultsBox {background:#fff; border: 1px solid #E1E1E1; border-radius: 10px; margin-bottom:20px; overflow:hidden;
@include breakpoint(md){  display:flex; }
@include breakpoint(sm){  display:block; }
	.left { width:calc(100% - 200px); float:left; border-right: 1px solid #ccc; 
		@include breakpoint(md){  width:calc(100% - 180px); display:flex; }
		@include breakpoint(sm){ width:100%;  display:block; }
		figure { width: 300px; float:left; margin: 0px; height: 211px; overflow: hidden; position: relative;
		@include breakpoint(md){  width:200px; display:flex;}
		@include breakpoint(sm){ width:100%;  display:block; }
				img{ width: 100%; height: auto;
				@include breakpoint(md){ width: 100%; height:auto; }
				@include breakpoint(sm){ position: absolute; left: 50%;  top: 50%; transform: translate(-50%, -50%);  }
				}
				
		}
		
		.detail { width:calc(100% - 300px); float:left; padding: 12px 10px 13px 20px; position: relative;
		@include breakpoint(md){  width:calc(100% - 200px); }
		@include breakpoint(sm){  width:100%; }
		@include breakpoint(xs){  padding:7px 9px 7px 11px; }
			.daynight { position: initial; right: 15px; top: 15px; font-size:20px;
			@include breakpoint(sm){position: absolute; top: 6px; font-size: 18px;} }
			h2 { font-size: 20px; color:#222222; font-weight: 700; width:100%; line-height:30px; margin-bottom: 15px; text-transform: capitalize;
			@include breakpoint(xl){ font-size: 18px; line-height: 26px; width: 75%; }
			}
	
			ul{ list-style: none; padding: 0px; display: flex; justify-content: space-between; margin: 25px 0 0 0;  
			@include breakpoint(xl){ margin: 10px 0; }
				li{display: flex;  align-items: center;   justify-content: center;  flex-direction: column;
					img { height: 25px; }
					span { font-size: 12px; display: block;  padding-top: 9px; }
					.icon { height: 25px; display: flex;  align-items: end; }
					.car { height: 17px; }
				}
			}
			p { font-size: 14px; color:#222222; line-height: 21px;  margin: 0px; padding-top:10px;
			@include breakpoint(sm){ font-size: 12px; display:none; }
				a { font-weight:600; color:#FF5300; text-decoration:none;  }
			}
			@include breakpoint(sm){ strong{ display:none;} }
		}
	}
	.right { width: 200px; float:left;  padding:15px 20px; font-size: 16px; color:#000000;
	@include breakpoint(md){  width:180px; padding:20px 15px; }
	@include breakpoint(sm){ width:100%; padding:5px 15px; font-size: 14px; display: flex; align-items: center;  justify-content: space-between; background: #FAEDEA; }
		.viewdetailBtn { padding:13px 10px;  margin-top: 7px;  width: 100%; 
			@include breakpoint(sm){width: 111px;  border-radius:10px; font-size: 14px; margin-top: 0px; }
		}
	.discount { font-size: 16px; color:#7C7C7C; text-decoration: line-through; display:block; padding:5px 0; 
			@include breakpoint(sm){ padding: 0px; font-size: 14px; display:inline-block; }
	}
	.price { font-family:$rubikfont; font-size: 26px; color:#000000; font-weight: 700; 
			@include breakpoint(sm){ font-size: 20px; }
			small {font-size: 14px; font-weight: 400; display: block; color: #7C7C7C;
				@include breakpoint(sm){ display: initial; }}
	}
	}
}
a {text-decoration: none; color: #222222;}


.pagination {
display: flex;
    text-align: center;
    padding: 5px;
    background: #ffff;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    margin-bottom: 26px;
    align-items: center;
    justify-content: center;
}

.pagination a {
  color: black;
  height: 40px;
  padding: 0;
  text-decoration: none;
      margin: 0 1px;
    width: 40px; line-height:40px;
    border-radius: 5px;

}

.pagination a.active {
  background: transparent linear-gradient(89deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}