    /*Banner Box Home page*/
    
    #bannerCntr {
        position: relative;
        width: 100%;
        height: 896px;
        background:url(#{$imagePath}banners/home-banner.jpg) center center no-repeat;
        background-size: cover;
		
		/* @include breakpoint(xxl) {
            background-size: 100%; height:766px;
        }*/
		 @include breakpoint(xl) {
            background-size: cover; height:680px;
        }
		
        @include breakpoint(md) {
          height: 800px;
         padding-bottom: 30px;
        }
        @include breakpoint(sm) {
            height: 612px;
        }
     
    }
	
	/*City banner*/
	.citybannerBox { width: 100%; height:700px; position: relative; background-position:center center; background-repeat:no-repeat; background-size:cover;
		@include breakpoint(xl){ height:600px; }
        @include breakpoint(md){ height:500px; }
		@include breakpoint(sm){ height:358px; }
        &.shadow {
            &:before{ width: 100%; height: 100px; position: absolute; left: 0px; bottom: 0px; content: ''; 
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); 
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); }
				
				 &:after{ width: 100%; height: 85px; position: absolute; left: 0px; top: 0px; content: ''; 
                background: -moz-linear-gradient(top, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0) 100%); }
        }
	.banner_text { position: absolute; left: 0px; bottom: 4px; width:100%; color:#fff;
		h2, h1{ font-family: gobold_bolditalic; font-size:45px; font-weight: 700;  display: inline-block; text-transform: uppercase;
		@include breakpoint(md){ font-size:35px; }
		@include breakpoint(sm){ font-size:28px; }
		@include breakpoint(xs){ font-size:20px; line-height:30px; }
			span { font-family:gobold_thinitalic;  font-size: 28px;  font-weight: 500;  background: yellow;   padding: 5px 10px;  border-radius: 6px;  color: #333;
    position: relative;  top: -9px;   margin-left: 10px;
				@include breakpoint(xs){ font-size:16px; margin-left:5px; padding:5px 6px; top:0px; }
			}
			
		}
		.recmandend { padding:1px 4px;color:#fff; width:180px; display:inline-block; font-weight: 500; font-size:19px; background: transparent linear-gradient(180deg, #F15747 0%, #F68E63 100%) 0% 0% no-repeat padding-box;
border-radius: 5px;  position: relative; top:-5px; margin-left: 10px;	
@include breakpoint(sm){ width: 160px; font-size: 15px; }
@include breakpoint(xs){ width: 145px; font-size: 14px; }
				.single { position: relative; top: 3px; }
}
	}
	}
   
   
   
 
 
 .intro-heading__animated {height: 110px;  overflow: hidden; 
		@include breakpoint(lg){ height: 80px; }
 }
.intro-heading__animation-window {animation:swapTitleDesktop 8s cubic-bezier(0.22, 1, 0.36, 1) 3s infinite forwards;
	@include breakpoint(lg){animation:swapTitleMobile 8s cubic-bezier(0.22, 1, 0.36, 1) 3s infinite forwards;}
}

@keyframes swapTitleDesktop{
    0%{
        transform:translateY(0)
    }
    25%{
        transform:translateY(-107px)
    }
    50%{
        transform:translateY(-212px)
    }
    75%{
        transform:translateY(-341px)
    }
    100%{
        transform:translateY(-450px)
    }
}

@keyframes swapTitleMobile{
    0%{
        transform:translateY(0)
    }
    25%{
        transform:translateY(-80px)
    }
    50%{
        transform:translateY(-160px)
    }
    75%{
        transform:translateY(-240px)
    }
    100%{
        transform:translateY(-320px)
    }
}